* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(249,138,34);
    background: linear-gradient(0deg, rgba(249,138,34,1) 0%, rgba(253,174,45,1) 100%) fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20vh;
}

.nav-wrapper {
    position: absolute;
    margin: 0 auto;
    top: 0;
    padding: 0;
    text-align: center;
    /* border: 1px solid black; */
    width: 100%;
    height: 150px;
}

.app-nav {
    padding: 0;
    margin: 0;
    background: white;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    box-shadow: 1px 1px 2px rgb(255 255 255);
}

.toggleNav {
    display: none;
}

.app-nav ul {
    display: flex;
    /* border: 2px solid red; */
    margin: auto;
    list-style: none;
    max-width: 80%;
    align-items: center;
    justify-content: space-around;
    }

.app-nav li {
    display: flex;
    flex: 1 1 auto;
    /* border: 0.5px solid rgb(0,0,0,0.5);
    background: rgb(0,0,0,0.2); */
    padding: 1rem;
}

.app-nav li:last-child {
    border-right: 0;
}

.app-nav a {
    flex: 1;
    text-decoration: none;
    color: black;
}

.app-nav img {
    padding-top: .5rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 80vh;
    width: 100%;
}

.main-content h1 {
    text-align: center;
    padding: 20px 0;
}

.main-content p {
    margin: auto;
    text-align: justify;
    padding: 30px 2rem;
    max-width: 800px;
}

.ad {
    height: 40vh;
    width: 100%;
}

.gen-info:after {
    content: "";
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
    width: 1000px;
}


.contact {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    align-content: center;
    margin: 2rem 0;
}

#gas-register {
    height: auto;
    width: auto;
    max-height: calc(495px / 4);
    min-width: 110px;
    padding-right: 5%;
}

.contact span{
    font-size: 40px;
}

.form-container {
    align-self: center;
    background: white;
    max-width: 500px;
    margin-top: 3rem;
    box-shadow: 2px 2px 5px black;
    padding: 0.5rem;
    border-radius: 5px;
}

.form-container h1 {
    text-align: center;
    padding-bottom: 2rem;
}

.form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-wrapper div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    text-align: center;
}

.form-wrapper button, #address-div, #description-div {
    grid-column: 1/3;
}

.form-wrapper button {
    padding: 1rem;
    font-size: 1.2rem;

}

textarea {
    resize: none;
    padding: .3rem;
}

input,  select {
    padding: .3rem;
}

label {
    padding-bottom: .3rem;
}


@media all and (max-width:900px) {
    .app-nav ul {
        display: none;
    }
    .app-nav li {
        flex: 1 1 50%;
        font-size: 1rem;
    }
    .app-nav img {
        padding-top: 2rem;
    }
    .toggleNav {
        display: block;
        padding: 1rem;
        font-size: 1rem;
    }
}

@media all and (max-width:500px) {
    .main-content h1 {
        font-size: 1rem;
    }
    .main-content p {
        padding: 20px 20px;
        font-size: 1rem;
    }
    
    .form-container {
        width: 95%;
        height: 830px;
    }
    .form-wrapper {
        display: inline;
    }
    #submit {
        width: 100%;
        margin-top: 1rem;
    }
}

